
$container-width-md: 86%;
$container-width-ms: 90%;
$container-width-lg: 75%;
  
$color-bg: #1f1f38;
$color-white: #fff;
$color-bg-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-light: rgba(255, 255, 255, 0.6);
$color-primary-variant: rgba(77, 181, 255, 0.4);

$transition: all 400ms ease;