.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    .portfolio-item{
        background-color: $color-bg-variant;
        padding: 1.2rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: $transition;
        .portfolio-item-img{
            border-radius: 1.5rem;
            overflow: hidden;
            img{
                height: 175px;
            }
        }
        h3{
            margin: 1.2rem 0 1rem;
        }
        h5{
            margin-block-end: 1rem;
        }
        .portfolio-item-cta{
            display: flex;
            gap: 1rem;
            margin-block-end: 1rem;
        }
    }
    .portfolio-item:hover{
        color: $color-primary-variant;
        background: transparent;
    }
}

// Tablets
@media (max-width: 1024px) {
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

//Mobile
@media (max-width: 600px) {
.portfolio-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}