.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  .service {
    background-color: $color-bg-variant;
    border-radius: 0 0 2rem;
    border: 1px solid $color-primary;
    height: fit-content;
    transition: $transition;
    .service-head {
      background-color: $color-primary;
      padding: 2rem;
      border-radius: 0 0 2rem 2rem;
      box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
      h3 {
        color: $color-bg;
        font-size: 1rem;
        text-align: center;
      }
    }
    .service-list {
      list-style-type: none;
      padding: 2rem;
      li {
        display: flex;
        gap: 1rem;
        margin-block-end: 0.8rem;
        .service-list-icon {
        //   width: 75px;
          height: 50px;
          color: $color-primary;
          margin-block-start: 2px;
        }
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  .service:hover {
    background: transparent;
    border-color: $color-primary-variant;
    cursor: default;
  }
}


// Tablets
@media (max-width: 1024px) {
 .services-container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    .service{
        height: auto;
    }
 }
}

//Mobile
@media (max-width: 600px) {
  .services-container{
    grid-template-columns: 1fr;
    gap: 1.5rem;
 }
}